# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/

# Environments
.venv
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Data
*.csv.bak

# OS
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key
secrets.json
credentials.json